<h1>Listing statuses</h1>

<%= link_to 'Refresh', "/statuses/refresh" %> 手工抓取微博内容

<div id="status_table">
  <%= render :partial => "status_table" %>
</div>

<br />

<script type="text/javascript" charset="utf-8">
function myrefresh(){
  location.reload();
  // alert("test");
}

// setTimeout(myrefresh,6000); //指定6秒刷新一次  
</script>