<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>新青年新浪微博电视播放</title>
		<meta http-equiv=X-UA-Compatible content=IE=EmulateIE7 />
    <meta name="msapplication-tooltip" content="新浪微博" />
    <meta name="msapplication-window" content="width=1024;height=768" />
    <meta name="msapplication-task" content="name=新浪微博; action-uri=/; icon-uri=http://img1.t.sinajs.cn/t3/style/images/common/favicon/home.ico" />
    <meta name="msapplication-task" content="name=我的微博; action-uri=/profile/1901642024; icon-uri=http://img1.t.sinajs.cn/t3/style/images/common/favicon/mypage.ico" />
    <meta name="msapplication-task" content="name=微博广场; action-uri=/pub/?source=toptray; icon-uri=http://img1.t.sinajs.cn/t3/style/images/common/favicon/square.ico" />
    <meta content="#FF3300" name="msapplication-navbutton-color" />
    <meta name="msapplication-starturl" content="./" /> 
    <link href="http://img.t.sinajs.cn/t3/style/css/common/index.css?version=20101227183305" type="text/css" rel="stylesheet" />
    <link id="skin_transformers" href="http://img1.t.sinajs.cn/t3/skin/skin_001/skin.css?version=20101227183305" type="text/css" rel="stylesheet" />
	<script src="javascripts/jquery.js" type="text/javascript" charset="utf-8"></script>
  
    <style type="text/css" media="screen">
.pagination {
  background: white;
  /* self-clearing method: */ }
  .pagination a, .pagination span {
    padding: .2em .5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .pagination span.disabled {
    color: #999;
    border: 1px solid #DDD; }
  .pagination span.current {
    font-weight: bold;
    background: #2E6AB1;
    color: white;
    border: 1px solid #2E6AB1; }
  .pagination a {
    text-decoration: none;
    color: #105CB6;
    border: 1px solid #9AAFE5; }
    .pagination a:hover, .pagination a:focus {
      color: #003;
      border-color: #003; }
  .pagination .page_info {
    background: #2E6AB1;
    color: white;
    padding: .4em .6em;
    width: 22em;
    margin-bottom: .3em;
    text-align: center; }
    .pagination .page_info b {
      color: #003;
      background: #6aa6ed;
      padding: .1em .25em; }
  .pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .pagination {
    height: 1%; }
  *:first-child+html .pagination {
    overflow: hidden; }
     .right_nav ul li {height:auto;padding-right: 10px;width: 160px;} 
    </style>
</head>
<body>
  <div class="MIB_bloga">
    <div class="MIB_blogb">
      <!-- 二级导航 -->
      <div class="header">
        <!-- <div class="newlogo festival">
          <a class="linklogo" href="http://t.sina.com.cn"></a>
        </div> -->

        <div id="m_keyword_tip" class="resultTip" style="display:none"></div> 
        <a href="http://t.sina.com.cn/zt/2010weixiaoshuo" class="weixiaos_link">来参加微小说大赛吧，近30万大奖等你来拿！</a>
      </div>

      <!--正文-->
      <div class="MIB_blogbody">
        <div class="MIB_mblogbgr ">
          <div class="MIB_mblogbgl">
            <!--右栏内容 -->
            <div class="mainR MIB_200 MIB_txtar MIB_linkar">
              <!--个人信息-->
              <div class="userinfo">
                <div class="user_head">
                  <div class="picborder_r lf" id="pop_1">
                    <a href="http://t.sina.com.cn/person/myface.php">
                      <img class="person_icon" src="http://tp1.sinaimg.cn/1901642024/50/0/1" pop="true" alt="" />
                    </a>
                  </div>
                  <div class="lf">
                    <p class="font_14">
                      <!-- <a href="http://t.sina.com.cn/1901642024/profile">新青年thecity</a> -->
                      <span>新青年thecity</span>
                      <br/>
                      <a href="/logout">注销</a>
                    </p>
                    <p><em>上海</em><em>浦东新区</em></p>
                  </div>
                </div>
                
                <!--                 
                <div class="user_atten MIB_linedot">
                  <ul id="profile_following_follower_update">
                    <li id="pop_2" class="MIB_line_r">
                      <a href="http://t.sina.com.cn/1901642024/follow">关注</a>
                    </li>
                    <li class="MIB_line_r">
                      <div class="num"><a href="http://t.sina.com.cn/1901642024/fans" id="myfans"></a>
                      </div>
                      <a href="http://t.sina.com.cn/1901642024/fans">粉丝</a>
                    </li>
                    <li class="">
                      <div class="num"><a href="http://t.sina.com.cn/1901642024/profile" id="mblog"></a>
                      </div>
                      <a href="http://t.sina.com.cn/1901642024/profile">微博</a>
                    </li>
                  </ul>
                </div>
                -->
              </div>
              <div id="medal_box" class="newcolr"></div>
              <!--/个人信息-->
              <!--右侧菜单-->
              <!-- 
              <div class="right_nav">
                <ul>
                  <li id="li_myprofile" class="cur MIB_txtar"> 
                    <a href="http://t.sina.com.cn/1901642024">我的首页</a>
                  </li>
                </ul>
                <ul>
                  <li><a href="http://t.sina.com.cn/atme">@提到我的</a></li>
                  <li><a href="http://t.sina.com.cn/comments">我的评论</a></li>
                  <li><a href="http://t.sina.com.cn/favs">我的收藏</a></li>
                </ul>
              </div> 
              -->
              <!--/右侧菜单-->
              
              <!-- 公告列表 -->
              <div class="right_nav">
                <ul>
                  <li id="li_myprofile" class="cur MIB_txtar"> 
                    <span>公告列表</span>
                  </li>
                </ul>
                <ul>
                  <% @bulletins.each do |post| %>
                  <li><%= post.content %>  <%= link_to '删除', post, :confirm => '确认删除?', :method => :delete %></li>              
                  <% end %>
                </ul>
              </div>
              <!-- /公告列表 -->
              
            </div>
            <!--/右栏内容 -->

            <!--左栏内容 -->
            <div class="mainL MIB_600 MIB_txtal MIB_linkal" id="indexMainL">
              <%= yield %>
            </div>
            <!--/左栏内容 -->
          </div>
        </div>
      </div>
      <!--/正文-->
    </div>
  </div>
</body>
</html>
